nav {
    margin-bottom: 5px;
    box-shadow: 0px 5px 5px 0px rgba(134, 129, 129, 1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(134, 129, 129, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(134, 129, 129, 1);

}

.nav {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0%;
}

.nav-links {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

@media (max-width: 48.5rem) {

    .nav-hire-me {
        /* justify-self: end; */
        position: absolute;
        bottom: 0;
        right:0;

    }
    img[alt="Vishnu Vardhan Singh logo"] {
        display: none;
    }

    .nav-links {
        justify-content: start;
        flex-wrap: wrap;
        position: relative;
    }


    .profile-picture {
        width: 100px;
        height: 100px;
    }

    .nav {
        padding-bottom: 0%;
        padding-top: 1.5rem;
    }

    .nav {
        flex-wrap: wrap;
    }
}

section {
    margin-top: 20px;
}