.portfolio {
    display: flex;
    gap: var(--gap);
    margin-bottom: 100px;
    margin-top: 1rem;
    align-items: center;
}

.portfolio-screenshot {
    border-radius: 10%;
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);
    box-shadow: 0px 0px 12px 6px rgba(134, 129, 129, 1);
    -webkit-box-shadow: 0px 0px 12px 6px rgba(134, 129, 129, 1);
    -moz-box-shadow: 0px 0px 12px 6px rgba(134, 129, 129, 1);
    align-self: flex-end;
}

.portfolio:nth-child(odd) .portfolio-screenshot {
    order: 1;
}

@media (max-width: 37.5rem) {
    .portfolio {
        display: block;
    }
}